---
import { cn } from "@lib/utils"
import Container from "./Container.astro"
import {button} from "@tailus/themer-button"
import Frame from "./Frame.astro"
---

<section class="relative overflow-hidden scroll-mt-24" id="home">  
    <div
        aria-hidden
        class="opacity-0 dark:opacity-25 absolute [background-image:radial-gradient(theme(colors.lime.600),transparent_50%)] top-0 w-[1000px] z-10 h-[1000px] left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none"
      />
    <Container>
        <div class="relative pt-32 sm:pt-44 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
              
                <h1 class="text-gray-900 dark:text-white font-bold text-4xl sm:text-5xl md:text-6xl">Self Host your Databases on your own server.</h1>
                <p class="max-w-xl mx-auto mt-8 text-gray-700 dark:text-gray-300">Mozaic let's you self host MySQL, PostgreSQL, MongoDB, and SQLite databases on your own server. You can use it to store your data, or to build your own database.</p>
                <div class="mt-8 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <Frame>
                      <a href="" class={cn(button.primary.lg, "relative z-[1]")}>
                        Start Deploying
                      </a>
                    </Frame>
                </div>
                
            </div>
        </div>
    </Container>
</section>